.bg{
    background-image: url("background.jpg");
    background-size: cover;
}
h1{
    width: 100%;
    font-size: 25px !important;
    margin: 0;
    font-style: italic;
}
button{
    font-size: 18px !important;
}
#copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    line-height: 2;
    font-size: 15px;
}
canvas{
    border: 5px dashed white;
    margin-top: 80px;
    box-shadow: 5px 5px 5px pink;
}